.products__list {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.products__photo {
  max-width: 100%;
  min-height: 200px;
  background-image: url("../img/products-green.png");
  transition: all ease-out 0.4s;

  &--blue {
    background-image: url("../img/products-blue.png");

    &:hover {
      background-image: url("../img/products-green.png");
    }
  }
}

.products__header {
  font-family: "Open Sans", serif, Arial;
  font-size: 24px;
  text-transform: uppercase;
  color: #1a1a1a;
  text-align: center;
}

.products__content {
  font-family: "Open Sans", serif, Arial;
  font-size: 14px;
  color: #1a1a1a;
  text-align: left;
}

.products__item {
  width: 48%;
  margin-right: 2%;
  display: inline-block;
  cursor: pointer;

  &:hover .products__photo {
    background-image: url("../img/products-blue.png");
  }

  &:hover .products__photo--blue {
    background-image: url("../img/products-green.png");
  }

  &:active .products__photo {
    background-image: url("../img/products-active.png");
  }

  &:active .products__photo--blue {
    background-image: url("../img/products-active.png");
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  &--order {
    margin-top: 15%;
    display: inline-block;
    vertical-align: top;
    align-self: center;
    text-align: center;
  }
}

.products__order {
  padding: 5% 25%;
  border-radius: 10px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #1a1a1a;
  background-color: #8c5d79;
}

@media (max-width: 768px) {
  .products__list {
    display: block;
    margin-bottom: 20px;
  }

  .products__item {
    width: 100%;
    margin-right: 0;

    &--order {
      margin-top: 0;
    }
  }
}
